/*Custom scroll bar*/
/* width */

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4da2ff; 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2b8ffc; 
	cursor: pointer !important;
}
/*end custom*/
#root, body, html{	
	height: 100%;
}
div .container {
	max-width: 100%;
}
#left-content{
	background-color: #3f9ebe;
	height: 622px;
	max-height: 622px;
}
#right-content{
	background-color: #daf2dc;
	height: 622px;
	max-height: 622px;
}
*{
	font-family: "Kaushan Script", cursive;
}
nav.bg-light{
	background-color: #7bbaff !important;
}
nav .bg-light{
	background-color: #7bbaff !important;
	height: 40px;	
}
.navbar-nav a {
	color: #3f54be !important;
	font-size: 22px;
	margin: 5px 3px 10px 0;	
}
.navbar-nav a:hover {
	background-color: transparent !important;
	font-style: italic;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.navbar-nav a:active, .navbar-nav a:focus{
	background-color: #8fc5ff !important;
	border-radius: 10px;	
	text-decoration: underline;
	font-style: italic;
}
.navbar-nav > a#brand {
	font-family: "Kaushan Script", cursive;
	font-weight: bolder;
	font-size: 24px;
	/*letter-spacing: 1px;*/
}
h2 {
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 30px;
}

p {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 20px;
}
div.box-card{
	overflow: hidden !important;
	border-radius: 10px;
	margin-bottom: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	

}
div.box-card .card p {
	font-size: 17px;
}
div.card {
	transition: all 1s;
	transform: scale(1);	
	height: 260px;
}

div.card:hover {
	transition: all 1s;
	transform: scale(1.1);
	cursor: pointer;
}
div.projects-scroll {
	overflow-x: scroll;
	overflow-x: hidden;
	max-height: 450px;
	border-radius: 10px;
	padding-right: 7px;
}
div.card {
	border-radius: 0px !important;
}

div.projects-scroll .card-image img {
	width: 100%;
	height: 120px;
}

.img-circle{
	height: 120px;
	width: 120px;
	margin-top: 18px;
	border-radius: 50%;
}
@media (min-width: 768px){
	#img-about:nth-child(even) .col-md-2 {
		margin-left: 25%;
	}
}
@media screen and (max-width: 767px) {
	#img-about:nth-child(even) .col-md-2 {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media screen and (max-width: 576px) {
	#left-content{
		height: 422px;
	}
	#left-content img {
		margin-top: auto;
	}
}
#img-about .col h4{
	font-size: 20px;
	margin: 15px 10px 0 10px;
}
#img-about .col p{
	margin: 5px 15px 0 10px;
	width: 500px;
	font-size: 18px;
}
#contact a{
	width: 100%;
	color: #000;
}
#contact i {
	margin-right: 5px;
	font-size: 18px;
}
#contact i.fa-linkedin-square {
	color: #30a2c6;		
}
#contact i.fa-envelope {
	color: #d52c2c;		
}
#contact i.fa-whatsapp {
	color: #2bbb19;
	font-weight: bolder;		
}
#contact .img-fluid {
	margin-top: -20px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#foto {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	margin-top: 30%;
}
#skills img {
	height: 100px;
	width: 120px;
}
#skills .col {
	margin-left: 26%;
}
#skills i {
	/*margin-right: 3px;*/
	margin: 0 3px 10px 0;
	font-size: 20px;
}